.cores_0{
    background-color: palegreen;
 }
 .cores_1{
    background-color: peachpuff;
 }
 .row{
     text-align: center;
     height: 50px;
     padding-top: 10px;
     padding-bottom: 10px;
     
 }

 .cores_2{
     background-color: aqua;
 }