@import url('https://fonts.googleapis.com/css?family=Odibee+Sans&display=swap');
*{
    padding: 0%;
    margin: 0%;
}
.flex-container{
    display: flex;
    flex-direction: row;
   
    padding: 3%;
}


.flex-container img{
    margin-bottom: 100px;
    
  -webkit-transition: width 2s, height 2s, -webkit-transform 5s; /* Safari */
  transition: width 2s, height 2s, transform 2s;
}

.flex-container img:hover {
  width: 850px;
  height: 460px;
  -webkit-transform: rotate(360deg); /* Safari */
  transform: rotate(360deg);
}
    
}
.box-lateral{
    margin-left: 100px;
    height: 150px;
    width: 900px;
}

/* alteração de estilo do menu */
ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
    
}
/* menu tipo linha*/
ul li {
display: inline;
padding: 1%;
color: blue;
}
a{
text-decoration: none;
color:blue ;
}
.center{
display: flex;
justify-content: left center;
} 
h1
{
    color: blanchedalmond;
    font-family: 'Odibee Sans', cursive;
text-align: justify;
}
p
{
    font-size: 22px;
    color: blanchedalmond;
    font-family: 'Odibee Sans', cursive;
text-align: justify;
}
.button
{
text-align: top right;
margin-left: 1227px;
}
.botoom{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}
.links{
    list-style: none;
    display: flex;
    justify-content: space-around;




}
